* {
  font-family: "MinecraftiaRegular", sans-serif;
}

body {
  text-align: center;
}

h1 {
  margin: 0 auto;
  font-size: 48px;
  margin: 2%;
}

h2 {
  font-size: 36px;
  font-weight: lighter;
  margin: 2%;
}

#board {
  display:flex;
  flex-wrap: wrap;
  width: 800px;
  border-style: solid;
  justify-content: center;
  padding: 20px;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.column {
	height: 100%;
	width: 100%;
	flex-direction: column;
}

.squares {
  	border: 1px solid rgba(0, 0, 0, 0.75);
  	height: 100px;
  	user-select: none;
  	width: 100px;
    border-radius: 50px;
    margin: 3px 3px;
    background-color: white;
}

#reset-button {
	background-color: white;
	border: 1px solid black;
	color: black;
	font-size: 21px;
	line-height: 55px;
	margin: 1%;
	text-align: center;
	width: 456px;
}
