* {
  font-family: "MinecraftiaRegular", sans-serif;
}

body {
  text-align: center;
}

h1 {
  margin: 0 auto;
  font-size: 48px;
  margin: 2%;
}

h2 {
  font-size: 36px;
  font-weight: lighter;
  margin: 2%;
}

#board {
  display:flex;
  flex-wrap: wrap;
  width: 800px;
  border-style: solid;
  justify-content: center;
  padding: 20px;
  background-image: url("../images/dark-oak.png");
  background-size: cover;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.column {
	height: 100%;
	width: 100%;
	flex-direction: column;
}

.square {
  	border: 1px solid orange;
  	height: 100px;
  	user-select: none;
  	width: 100px;
    border-radius: 50px;
    margin: 3px 3px;
    background-image: url("../images/acacia.png");
    background-size: cover;
}

/* .square:hover {
  background-image: url("../images/tictac.png");
  	background-color: rgba(232, 124, 125, 0.5);
} */

#reset-button {
  border: 1px solid #e8691b;
  color: #c7c7c7;
  font-size: 21px;
  line-height: 55px;
  margin: 1%;
  text-align: center;
  width: 456px;
  background-color: #e87c7d;
}

#reset-button:hover {
  background-color: #c7c7c7;
  color: #e87c7d;
  cursor: pointer;
}
